> 홍길동씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해 보자.

국어 : 80  /  영어 : 75  / 수학 : 55

In [2]:
a = 80
b = 75
c = 55
(a + b + c)/3

70.0

>  자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자.

In [3]:
a = 13
if a % 2 == 0:
    print("짝수")
else:
     print("홀수")

홀수

> 홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

In [8]:
a = "881120-1068234"
print(a[:5+1])
print(a[7:])

881120
1068234

> 주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.
  pin = "881120-1068234"

In [11]:
pin = "881120-1068234"

if int(pin[7]) % 2 == 0:
    print("여자")
else:
    print("남자")

남자

> 다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.   
   a = "a : b : c : d"   
   (땡!)

In [13]:
a = "a : b : c : d"

b = a.replace(":", "#")

print(b)

a # b # c # d

> [1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.

In [ ]:
a = [1, 3, 5, 4, 2]